.section-client {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .company {
    display: flex;
    justify-content: space-between;
  }
  .company__item:not(:last-of-type) {
    padding-right: 30px;
  }
  .company__link {
    fill:  #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid;
    border-color: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .company__link:hover,
  .company__link:focus {
    fill: var(--main-color);
    border-color: var(--main-color);
  }