$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$main-color: #2196f3;

:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196f3;
    --second-color: #757575;
    --white-color: #ffffff;
  }
